.activity-suggestions {
  display: flex;
  flex-direction: column;
}

.suggestion {
  // background: #f2f1ef;
  // background: #efefef;
  background: #efefef;
  background: #f4f4f4;
  color: #272626;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 2rem 0rem 2rem;
  border-bottom: 1px solid #ebebeb;
}

.suggestion-content {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.name {
  padding: 0.2rem 0.5rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fafafa;
  margin-left: 1rem;
}

.user {
  background: #fdfbfb;
  color: #272626;
}

.bold {
  font-weight: 500;
  margin-left: 0.5rem;
}

.brand {
  background: #ab784c;
}

.idea {
  background: #5d9345;
}

.text {
  font-size: 12pt;
  font-weight: 600;
  margin-right: 0.25rem;
}

.like-share {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}
