.suggestions {
  display: flex;
  flex-direction: column;
}

.suggestion {
  // background: #f2f1ef;
  // background: #efefef;
  background: #efefef;
  color: #272626;
  border-radius: 1rem;
  height: 5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 0rem 2rem 1rem 2rem;
}

.avatar {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.name {
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fafafa;
  margin-left: 1rem;
}

.user {
  background: #fdfbfb;
  color: #272626;
}

.bold {
  font-weight: 500;
  margin-left: 0.5rem;
}

.brand {
  background: #ab784c;
}

.idea {
  background: #5d9345;
}
