.activity {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content: center;

  border-radius: 0.4rem;
}

.activity-buttons {
  margin: 4rem 0 1.5rem 2rem;
  display: flex;
}
.activity .button {
  border: none;
  // border-bottom: 1.7px solid rgb(21, 21, 21);
  background: none;
  margin-left: 0.4rem;
  color: rgb(21, 21, 21);
}

.activity .button:hover {
  border: none;
  // border-bottom: 1.7px solid rgb(182, 179, 179);
  background: none;
  color: rgb(182, 179, 179);
}

.activity .button:active {
  border: none;
  // border-bottom: 1.7px solid rgb(156, 155, 158);
  background: none;
}
