$red: #e74c3c;
$beige: #e2e0d4;
$yellow: #f7cf00;

.suggestions-container-brand {
}

.suggestions-container {
  // background: #e2e0d4; //pretty beige color

  border-radius: 4%;
  padding: 10px;
  margin: 10px;
}

.suggestions-container .suggestions {
  width: 40rem;
  background: rgb(242, 242, 242);
  background: #d7cea9;
  background: #e7e3e0;
  background: #e4ddcf;
  background: #e3ded6; //prettiest color before logo brown color
  background: #edece9; // color that works
  background: #efefef;
  background: #ab784c;
  // background: #ede9e4;
  // background: rgb(243, 241, 236);

  border-radius: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0rem 2rem 1rem 2rem;
}

.suggestion-circle {
  background: #5d9345;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.avatar-circle {
  background: #5d9345;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  margin-left: 0.5rem;
  border-radius: 1rem;
  color: white;
}

.black {
  background-color: #5d9345;
  padding: 0.3rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 4rem;
}

.avatar-followers {
  display: flex;
}
.avatar-follower {
  margin-left: -1.3rem;
}

.support-share {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
