$red: #e74c3c;
$beige: #e2e0d4;
$yellow: #f7cf00;

.suggestions-container-brand {
}

.suggestions-container {
  // background: #e2e0d4; //pretty beige color

  border-radius: 4%;
  padding: 10px;
  margin: 10px;
}

.suggestions-container .suggestion {
  height: 8vh;
  width: 30vw;
  background: rgb(242, 242, 242);
  background: #d7cea9;
  background: #e7e3e0;
  background: #e4ddcf;
  background: #e3ded6; //prettiest color before logo brown color
  background: #edece9;
  // background: #ede9e4;
  // background: rgb(243, 241, 236);
  border: 1px solid #f6f6f6;

  border-radius: 1.2rem;
}

.avatar-circle {
  background: #5d9345;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
