.banner {
  background-color: #55562f;
  border-bottom: 1px solid #d2d69f;
  color: #fefefe;
  height: 4vh;
  font-family: "neutratext";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.header {
  /*   background: #f9f8f4;
  background: rgb(249, 248, 248); */
  // background: #f6f6f6;
  background: #e7e8ae;
  background: #906d50; //prettiest brown
  background: #f8f7f3;

  background: #f5f5f1;
  background: #f8f7f3;
  // border-bottom: 1px solid #f2f2f1;
  // border: 1px solid #f1f1f1;
}

.header .container {
  height: 10vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

.logo {
  font-family: "hippie-mojo";
  font-size: 7.5vh;
  color: #ab784c;
  color: #a87353;
  color: #a9784f;
}

.wrapper {
  text-align: center;
  h1 {
    color: #fff;
    font-size: 8.5vh;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "hippie-mojo";
    background: linear-gradient(-70deg, #aa8169 5%, #b79886 50%, #a9784f 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
  }
}

@keyframes textclip {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

// search

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 3rem;
}

input[type="text"] {
  border: none;
  background: none;
  color: #8e8e8e;
  font-size: medium;
  margin-top: 3px;
  margin-left: 2.5px;
  outline-width: 0;
  letter-spacing: 0.3px;
  font-size: 13pt;
}
