.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #272626;
  white-space: nowrap;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  flex-direction: column;
  height: 55px;
  align-items: space-between;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

.action-buttons button {
  background: #ab784c;
  border: 0.8px solid #fefefe;
  color: #f6f6f6;
  border-radius: 0.6rem;
  padding: 0.4rem 0.6rem;
  margin-left: 2rem;
}

.action-buttons button:nth-child(2) {
  margin-left: 0.2rem;
}

.cell {
  background: #edece9;
  background: rgb(224, 224, 224);
  background: #e5e5e5;
  padding: 0.6vw 1.2vw;
  color: #272626;
  border-radius: 40px;
  white-space: nowrap;
  margin: 0.1rem 0.2rem;
  display: flex;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.row {
  display: flex;
  align-items: center;
}

.flex-start {
  margin-left: 2rem;
}

.strength {
  display: flex;
  margin-left: 0.3rem;
}

.light {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 2px;
}

.green {
  background-color: #5d9345;
}

.white {
  background-color: #fcfcfc;
}

.grey {
  color: #8e8e8e;
}

.username {
  font-weight: 600;
}
